.b-whoWeAreSection {
    background-color: $colorBlueBg;
    color: $colorWhite;
    padding: 11rem 27.5rem;
    &__header {
        @include fontHeaders;
        &_margin {
            margin-bottom: 4rem;
        }
    }
    &__article {
        &_twoColumns {
            column-count: 2;
            column-gap: 13rem;
            margin-bottom: 4.5rem;
        }
    }
    &__articleHeader {
        @include fontLine(3rem,3rem);
        &_margin {
            margin-bottom: 2.5rem;
        }
    }
    &__articleContent {
        @include fontLine(1.7rem,3rem);
    }
}