$colorWhite: #fff;
$colorBlue: #1258ee;
$colorGray: #2b2b2b;
$colorBlueBg: #0081ff;
$colorGrayLigth: #575757;

$colorGrayBgBlog: #b9b8b8;
$colorGrayBlog: #353535;
$colorBlack: #000;
$colorPink: #e91d62;